.list-group .list-group {
    margin-left: 10px;
}
.list-group .list-group .list-group {
    margin-left: 20px;
}
.list-group .list-group .list-group .list-group {
    margin-left: 30px;
}

.list-group.collapsed {
  display: none;
}
